[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx next start -H 0.0.0.0 -p 3000"

[variables]
HOSTNAME = "0.0.0.0"
PORT = "3000"
