[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npm run build",
  "cp -r public .next/standalone/public",
  "mkdir -p .next/standalone/.next/static",
  "cp -r .next/static .next/standalone/.next/"
]

[phases.start]
cmds = ["HOSTNAME=0.0.0.0 PORT=3000 node .next/standalone/server.js"]
