[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[phases.start]
cmds = ["npx next start -H 0.0.0.0 -p 3000"]

[variables]
HOSTNAME = "0.0.0.0"
PORT = "3000"
