[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[phases.start]
cmds = ["npm run start"]

[variables]
HOSTNAME = "0.0.0.0"
PORT = "3000"
